<div class="container">
  <ul *ngIf="isUserAuthenticated" class="nav nav-pills nav-justified">
    <li *ngFor="let tab of tabs" (click)="selectedTab($event, tab)">

      <a [routerLink]="['/',tab]" routerLinkActive="router-link-active">
        {{tab == "apiResults"?"API RESULTS" : "FUNCTIONAL RESULTS" }} </a>
    </li>
    <li>

      <!-- <a  [routerLink]="['/apiResults']" routerLinkActive="router-link-active" > Test </a> -->
    </li>
  </ul>
  <hr>
</div>


<!-- <button [disabled] ="isApiTabSelected"> This is a demo property binding </button> -->

<!-- <app-api-results *ngIf="currentTab == 'API Results'"></app-api-results>

<app-functional-results *ngIf="currentTab == 'Functional Results'"></app-functional-results> -->
<!-- <router-outlet></router-outlet> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>